  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/gear/new">Add Gear</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/gear">All Gear</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/profiles">All Profiles</a>
          </li>
        </ul>
      </div>
      <% if (user?.profile.avatar) { %>
      <div id='avatar'>
        <a id="avatar-link" href="/profiles/<%= user.profile._id %>">
          <img
            src="<%= user.profile.avatar %>"
            alt="<%= user.profile.name %> avatar"
          />
        </a>
      <% } %>
      </div>
      <% if (user) { %>
        <a href="/auth/logout">
          <input class="btn btn-lg" type="submit" value="Logout" id="logout">
        </a>
      <% } else { %>
        <a href="/auth/google" class="siwg-link">
          <button type="submit" class="siwg">
            <img id="siwg-image" alt="Sign in with Google" />
          </button>
        </a>
      <% } %>
    </div>
  </nav>

