main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form-group{
  font-size: 1.8rem;
}

#comment-id, #rating-id{
  font-size: 2rem;
}

.card {
  align-items: center;
  padding: 2% 0;
  /* margin: 2% auto; */
  display: flex;
  flex-wrap: wrap;
  /* font-size: 2em; */
  background-color: #3485d6;
  border-radius: 5px;
  border: 1px solid #1C110A;
  box-shadow: 3px 2px 7px #1C110A;
}

.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
justify-content: center;
}

.card-title,
.card-text{
  color: #1C110A;
}

.card-link{
  color: #FFECD1;
  font-size: 1.5rem;
}
.card-link:hover{
  color: #d68534;
}

.comment-id{
  font-size: 1.2rem;
}

.card:hover{
  animation-name: scale;
  animation-duration: 10s;
  color:#1C110A
}
@keyframes scale {
  0% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}

.card::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.card:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.card::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: #d68534;
  z-index: -1;
  transition: transform .3s ease;
}