main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form-group{
  font-size: 1.8rem;
}

#comment-id, #rating-id{
  font-size: 2rem;
}

.card {
  align-items: center;
  justify-content: left;
  padding: 2% 0;
  /* margin: 2% auto; */
  display: flex;
  flex-wrap: wrap;
  /* font-size: 2em; */
  background-color: #3485d6;
  border-radius: 5px;
  border: 1px solid #1C110A;
  box-shadow: 3px 2px 7px #1C110A;
}

.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-title,
.card-text{
  color: #1C110A;
}

.card-link{
  color: #FFECD1
}
.card-link:hover{
  color: #d68534;
}

.comment-id{
  font-size: 1.2rem;
}