.card {
  align-items: center;
  justify-content: left;
  padding: 2% 0;
  margin: 2% auto;
  display: flex;
  /* font-size: 2em; */
  background-color: #3485d6;
  color: #FFECD1;
  border-radius: 5px;
  border: 1px solid #1C110A;
  box-shadow: 3px 2px 7px #1C110A;
}

.list-group-item {
  background-color: #3485d6;
  color: #FFECD1;
  justify-content: left;
  align-items: left;
  text-align: left;
  padding: 0;
  margin: 0 auto
}

a:link{
  color:#FFECD1;
}

a:visited{
  color:#FFECD1;
}

a:hover{
  color:#fde6e5;
}

.card-title{
  font-size: 2rem;
}

.card-text{
  font-size: 1.6rem;
}

.card-deck{
  display: flex;
  flex-wrap: wrap;
}

.card:hover{
  animation-name: scale;
  animation-duration: 10s;
  color:#1C110A;
}
@keyframes scale {
  0% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}

.card::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.card:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.card::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: #d68534;
  z-index: -1;
  transition: transform .3s ease;
}