.card {
  align-items: center;
  justify-content: left;
  padding: 2% 0;
  margin: 2% auto;
  display: flex;
  font-size: 2em;
  background-color: #15616D;
}

.list-group-item {
  background-color: #15616D;
  color: #FFECD1;
  justify-content: left;
  align-items: left;
  text-align: left;
  padding: 0;
  margin: 0 auto;

}