.card-body {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card{
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #FFECD1;
}
.card-deck{
  align-items: center;
  justify-content: center;
  text-align: center;
}


#show-section{
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2em;
}

h1{
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3em;
}

.card-deck{
  display: flex;
  flex-wrap: wrap;
}