.card-body {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card{
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #3485d6;
  color: #f4f4ec;
}


.card-deck{
  align-items: center;
  justify-content: center;
  text-align: center;
}


#show-section{
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2em;
}

h1{
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.6em;
}

.card-deck{
  display: flex;
  flex-wrap: wrap;
}

#delete-btn{
  background-color: #78290F;
  color: #f4f4ec;
  border: 1px solid #1C110A;
  font-size: 1em;
}

#delete-btn:hover{
  background-color: #1C110A;
  color:#FFECD1;
  border: 1px solid #78290F;
}

#edit{
  color: #d68534;;
  margin: 10px;
  padding: 1%;
}