<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('./partials/nav') %>

<main>
  <h1 id="title">Rig Builder</h1>
  <img src="/images/bg.png" id="bg" alt="guitar pedal board">
</main>
<%- include('./partials/footer') %>
