/* html {
  box-sizing: border-box;
} */

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: #FFECD1;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  /* margin: 0; */
}

nav {
  background-color: #A15E49;
  font-size: 1.6rem;
  /* display: flex; */
  /* justify-content: center; */
  border-bottom: 1px solid #1C110A;
  color: #FFECD1;
}


main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}

h1 {
  margin: 2%;
  font-size: 4em;
  color: #1C110A
}

img {
  border-radius: 50%;
  margin-right: 2%;
  max-width: 40px;
  max-height: 40px;
  border: 1px solid #1C110A;
}

#logout {
  background-color: #15616D;
  color: #FFECD1;
  margin-left: 5%;
  border: 1px solid #1C110A;
}
#submit {
  background-color: #15616D;
  color: #FFECD1;
  border: 2px solid #1C110A;
}

#logout:hover {
  color: #15616D;
  background-color: #FFECD1;
}

#submit:hover {
  color: #FFECD1;
  background-color: #78290F;
}

#bg{
  max-width: 100%;
  max-height: 100%;
  filter: invert(18%);
  border-radius: 0;
  border: 0;
  opacity: 60%;
}

/* #bg:hover{
  opacity: 90%;
} */

.navbar-light{
  color: #FFECD1;
}