<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/gear/new.css">
<%- include('../partials/nav') %>


<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/gear" method="POST" autocomplete="off">
    <div class="mb-3">
      <label for="type-select">Type</label>
      <select type="text" id="type-select" name="type">
        <option value="guitar">Guitar</option>
        <option value="pedal">Pedal</option>
        <option value="amp">Amp</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="company-input" class="col-sm-2 col-form-label col-form-label-lg">Company</label>
      <br>
      <input type="text" class="form-control-lg" id="company-input" name="company" placeholder="Fender, Boss, etc.">
    </div>
    <div class="mb-3">
      <label for="model-input" class="col-sm-2 col-form-label col-form-label-lg">Model</label>
      <br>
      <input type="text" class="form-control-lg" id="model-input" name="model" placeholder="Stratocaster, Plexi, etc.">
    </div>
    <div class="mb-3">
      <label for="color-input" class="col-sm-2 col-form-label col-form-label-lg">Color</label>
      <br>
      <input type="text" class="form-control-lg" id="color-input" name="color" placeholder="Color:">
    </div>
      <button type="submit" class="btn btn-primary btn-lg" id="submit">Add Gear</button>
  </form>
</main>

<%- include("../partials/footer") %>